@inherits LayoutComponentBase

<PageTitle>InfoDisclosureExample</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <!-- just to illustrate the information that is returned to the client -->
    <TestComponent TestParameter="this should not be sent to the client" /> 

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">            
            @Body
        </article>
    </main>
</div>